<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network of Thrones</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret%20One" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="nav-bar navbar-inverse  navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand pull-left active" href="../home.html"><strong>Network of Thrones</strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="network.html" class="pull-left">Networks</a></li>
                <li><a href="books.html" class="pull-left">Books</a></li>
                <li><a href="about.html" class="pull-left">About</a></li>
            </ul>
        </div>
    </nav>

    <h1>Methodology</h1>

    <div class="container">
        <div class="jumbotron">
            <p>
                How did we create the network for each volume in “A Song of Ice and Fire” (ASOIAF)?
            </p>
            <p>
                First, we had to determine who the characters were.
                There are many great resources devoted to the characters of ASOIAF, including fan-driven online encyclopedias and the appendices of the books.
                However, in order to be as thorough as we could, we started by turning to the body of the books themselves.
            </p>
            <p>
                Our first step was to try to detect character names from the text.
                Roughly speaking, we cataloged all capitalized words and automatically organized them into related categories.
                After some iterations of manual disambiguation and aggregation, we developed a list of characters that appeared in the given book.
                (This process was quite labor intensive, even with the automated step.)
            </p>
            <p>
                Next, we scanned through the text in order to create the network.
                Every time that two characters names appeared within 15 words of one another, we incremented the weight of the edge joining them.
                We then removed any edges with weight 4 or lower, followed by the removal of any isolated vertices.
                Next, we did a manual validation of the interactions recorded, and updated the network as appropriate.
                Typically, we scanned the book with a list of 250 distinct characters.
                At the end of our process, we created a network with more than 140 vertices and over 350 weighted edges.
            </p>
            <p>
                We then created a network visualization using the open-source Gephi software package.
                We performed an empirical analysis on our network, including community detection and measuring centralities.
                Finally, we combined our knowledge of ASOIAF with these new quantitative metrics to see what new insights the network brings to our understanding of this epic saga.
            </p>
        </div>
    </div>

    <h1>
        About Us
    </h1>
    <!--TODO: About Us section-->

</body>
</html>