<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network of Thrones</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/network.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret%20One" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../js/home.js"></script>
</head>
<body id="network-page">
    <!-- Navigation Bar -->
    <nav class="nav-bar navbar-inverse  navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand pull-left active" href="../home.html"><strong>Network of Thrones</strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="network.html" class="pull-left">Networks</a></li>
                <li><a href="books.html" class="pull-left">Books</a></li>
                <li><a href="about.html" class="pull-left">About</a></li>
            </ul>
        </div>
    </nav>

    <h1>Network Science</h1>

    <img class="info-image" src="../img/NetworkExplanation.svg">

    <div class="container">
        <div class=" block">
            Connections are what networks are about.
            Cities are connected by roads and airline routes.
            Flora and fauna are bound together in a food web.
            Countries are involved in trading relationships.
            But not all networks are physical: the World Wide Web is a virtual network of information.
            Your friends and acquaintances form a social network.
            Likewise, characters in a book are enmeshed in a network of encounters and interactions.
        </div>
    </div>

    <h1>What is a Network?</h1>
    <h2>Hover over the graph to get to know the parts of a network.</h2>

    <!--TODO: Interactive Network-->
    <div class="container">
        <div class="jumbotron ">
            INTERACTIVE NETWORK HERE
        </div>
    </div>


</body>
</html>