<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network of Thrones</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" type="text/css" href="../css/network.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret%20One" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="../js/network.js"></script>
</head>
<body id="network-page">
    <!-- Navigation Bar -->
    <nav class="nav-bar navbar-inverse  navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand pull-left active" href="../home.html"><strong>Network of Thrones</strong></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="network.html" class="pull-left">Networks</a></li>
                <li><a href="books.html" class="pull-left">Books</a></li>
                <li><a href="about.html" class="pull-left">About</a></li>
            </ul>
        </div>
    </nav>

    <h1>Network Science</h1>

    <img class="info-image" src="../img/NetworkExplanation.svg">

    <div class="container">
        <div class=" block">
            Connections are what networks are about.
            Cities are connected by roads and airline routes.
            Flora and fauna are bound together in a food web.
            Countries are involved in trading relationships.
            But not all networks are physical: the World Wide Web is a virtual network of information.
            Your friends and acquaintances form a social network.
            Likewise, characters in a book are enmeshed in a network of encounters and interactions.
        </div>
    </div>

    <h1>What is a Network?</h1>
    <h2>Hover over the graph to get to know the parts of a network.</h2>

    <!--TODO: Interactive Network-->
    <div>
        <!-- Text on cover and image map -->
        <img src="../img/NetworkExample/Main.svg" id="example-network" usemap="#net-ex-map" width="960" height="720"/>
        <map name="net-ex-map" id="#net-ex-map">
            <area shape="circle" id='example-node' coords="335,110,70" href="#" alt="Node">
            <area shape="rect" id='example-directed' coords="700,150,800,300" href="#" alt="Directed Edge">
            <area shape="rect" id='example-edge' coords="300,275,750,145" href="#" alt="Edge">
        </map>
    </div>


    <div class="container">
        <div class="jumbotron">
            <h1>More Information</h1>
            <p>
                This brings us to our mathematical definition of a network.
                A <strong>network</strong> models a set of objects where some pairs are related in a specified way.
                We refer to these objects as the <strong>vertices</strong> of the network.
                When we visualize a network, its vertices are drawn as points (dots, circles).
                The network relationships are modeled by <strong>edges</strong> that connect pairs of vertices.
                These edges are drawn as lines or arcs that connect pairs of vertices.
            </p>

            <p>
                As we know from experience, not all relationships are equal:
                you are more closely related to your friends than to your acquaintances, even though you “know” both.
                Therefore, we assign a positive weight to each edge in order to indicate the strength of the relationship.
                Sometimes researchers look at <strong>directed edges</strong> to represent a one-way relationship.
            </p>
            <p>
                Just as the edges of a network have attributes, the vertices of a network can have inherent characteristics.
                However, vertices gain additional qualities depending on their place and value in the network.
                For example, we can group vertices into communities, based on how frequently they interact with one another.
                We can also identify how important a particular vertex is to the network: Does it have a lot of connections?
                It is uniquely positioned to help to connect other pairs of vertices? Broadly speaking,
                these kinds of importance are called centrality measures, and we will explore multiple ways to “be central” in a given network.
            </p>

        </div>
    </div>

</body>
</html>