/***************************************/
/* Navigation Bar */
/***************************************/
.nav-bar {
    font-family: 'Poiret One', sans-serif;
    font-size: 18px;
}

.navbar-brand {
    font-size: 22px;
}

/***************************************/
/* Landing page; Cover */
/***************************************/

/* Background image for cover page */
#title {
    background: url('../img/background-throne.svg') no-repeat top left;
    background-size: cover;
}

/* Network of Thrones text image */
#title-text {
    margin-top: 17vh;
    margin-left: 10vw;
}

/* Image Map for Cover text */
#network-map {
    position: relative
}

/* About section of landing page */
#about {
    height: 800px;
    width: 100%;
    clear: both;
}